<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codefoco.CYRTextView" version="0.4.4" targetFramework="xamarinios10" />
  <package id="Codefoco.LuaCodeView.iOS" version="0.1.6" targetFramework="xamarinios10" />
  <package id="KeraLua" version="1.0.6" targetFramework="xamarinios10" />
  <package id="NLua" version="1.4.14" targetFramework="xamarinios10" />
</packages>