<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codefoco.CYRTextView" version="0.4.3" targetFramework="xamarinios10" />
  <package id="Codefoco.LuaCodeView.iOS" version="0.1.4" targetFramework="xamarinios10" />
  <package id="KeraLua" version="1.0.4" targetFramework="xamarinios10" />
  <package id="NLua" version="1.4.9" targetFramework="xamarinios10" />
</packages>